/* Google Fonts "Inter" links here */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* Google Fonts "Miama" links here */
@import url('https://fonts.cdnfonts.com/css/miama');




body{
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #000;
    /* border: 2px solid red; */
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Shared Styles Here */

.btn-primary{
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 50px;
    border-radius: 25px;
    color: #fff;
    background-color: #E6533C;
    border: none;
    margin-right: 15px;
    cursor: pointer;
}
.btn-secondary{
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 40px;
    border-radius: 25px;
    color: #fff;
    background-color: #000;
    border: 2px solid #ddd;
    cursor: pointer;
}

/* Header Section Styles here */
header,
.banner,
.habit,
.join-now,
.exercise,
.bmi-info,
.our-team,
.footer-content{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid palegreen; */
}

/* .banner{
    background-image: linear-gradient(180deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
} */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo{
    color: #E6533C;
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
}

/* .mobile-menu{
    display: none;
} */


.nav-menu{
    border: 1px solid #ffffff25;
    padding: 5px;
    border-radius: 25px;
}

.nav-menu ul{
    display: flex;
    
    
    
    justify-content: ;
}

.nav-menu ul li{
    list-style: none;
    margin-right: 20px;
    padding: 10px 30px;
    border-radius: 45px;
}

.nav-menu ul li:last-child{
    margin: 0;
}
.nav-menu ul li:first-child{
    background-color: #E6533C;

}

.nav-menu ul li a{
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}

/* Banner Section Starts here */
.banner{
    display: flex;
    justify-content: space-between;
    gap: 15%;
    
}
.banner-content{
    width: 45%;
    padding-top: 100px;
    margin-right: 100px;
    /* border: 1px dotted rosybrown; */
}
.banner-title{
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
    line-height: 80px;
    padding-bottom: 20px;
}
#shape{
    font-family: 'Miama', sans-serif;
    font-size: 8rem;
    font-weight: 100;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 30px;
}
.banner-btn-1-mobile{
    display: none;
}

.banner-image{
    width: 40%;
    position: relative;

}

.workout, .tutorial{
    background-color: rgba(255, 255, 255, 0.164);
    width: 200px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
.workout h2, .tutorial h2{
    color: #fff;
    font-size: 2.5rem;
}
.workout p, .tutorial p{
color: rgba(255, 255, 255, 0.65);
font-size: 1rem;
}

.workout{
    position: absolute;
    top: 25%;
    left: 50%;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
}
.tutorial{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 10%;
    left: -25%;
    backdrop-filter: blur(10px);
}
.tutorial-icon{
    color: #E6533C;
    background-color: #E6533C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}

/* Habit section styles starts here  */
.habit{
    padding: 50px 0;
}
.habit-content{
    width: 550px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
}
.habit-title{
    font-size: 3rem;
    color: #FFF;
    padding-bottom: 15px;

}
.habit-description{
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
}
.habit-cards{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.card-item{
    text-align: center;
}
.card-image{
    text-align: center;
    padding-bottom: 30px;
}
.card-image img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    /* padding-bottom: 30px; */
}
.card-title{
    font-size: 1.2rem;
    color: #fff;
    padding-bottom: 5px;
}
.card-description{
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 18px;
    padding: 0 15px;
}
/* Habit section styles ends here  */


/* Join Now section styles starts here */
.join-now{
    display: flex;
    /* gap: 30%; */
    justify-content: space-between;
    /* border: 1px solid indianred; */
    background-color: rgba(34, 34, 34, 1);
    border-radius: 10px;
}
.join-now-content{
    width: 45%;
    /* border: 1px solid blue; */
    padding: 50px 80px;
    margin-right: 20%;
}
.join-now-title{
    font-size: 3rem;
    color: #FFF;
    padding-bottom: 15px;
    line-height: 50px;
    
}
.join-now-description{
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    padding-bottom: 25px;
}

.join-now-btn{
    padding: 13px 65px;
}
.join-now-desktop-image{
    width: 35%;
    margin: 30px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.join-now-desktop-image img{
    width: 100%;
    transform: scale(3, 3);
    position: absolute;
    top: 100px;
    left: -170px;
}

.join-now-mobile-image img{
    display: none;
}



/* Exercise Section styles starts here */
.exercise{
    text-align: center;
    padding: 60px 0;
}
.exercise-content{
    width: 650px;
    margin: 0 auto;
    padding: 30px 0;
}
.exercise-title{
    font-size: 3rem;
    font-weight: 700;
    color: #FFF;
    padding-bottom: 15px;
}
.exercise-description{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.274);
    padding-bottom: 15px;
    line-height: 30px;
}
.exercise-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 350px);
    gap: 15px;
    
    
}

.exercise-item-2,
.exercise-item-4,
.exercise-item-6,
.exercise-item-8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 20px;
    
}
.exercise-item-1{
    /* background-image: url(../images/Boxing-Workout.png); */
    background-size: ;
}
.exercise-item-3{
    /* background-image: url(../images/spinning-2.png); */
    /* background-size: contain; */
    
}

.exercise-item-1 img,
.exercise-item-3 img,
.exercise-item-5 img,
.exercise-item-7 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* .exercise-item-5{
    background-image: url(../images/person-3.png);
} */
.exercise-item-5{
    background-image: url(../images/person-4.png);
}
.exercise-item-image {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    /* background: transparent; */
}
.exercise-item-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #FFF;
    padding-bottom: 15px;
}
.exercise-item-description{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.274);
    padding-bottom: 15px;
}
/* Exercise Section styles ends here */

/* BMI section styles starts here */


.bmi-content{
    width: 650px;
    margin:0 auto;
    padding:60px;
}
.bmi-title{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 15px;
    color: #FFF;

}
.bmi-description{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 25px;
}
.bmi-info-parent{
    background-color: rgba(34, 34, 34, 1);
}
.bmi-info{
padding: 50px 0;
display: flex;
}

.bmi-chart{
    width: 45%;
}
.bmi-caption{
    font-size: 1.8rem;
    color: #FFF;
    font-weight: 700;
    padding-bottom: 50px;
}

.bmi-table{
    
    width: 70%;
    border-collapse: collapse;
}

.bmi-table th, .bmi-table td{
    border: 1px solid rgba(255, 255, 255, 0.274);
    padding: 10px;
    color: FFF;
    
}
th{
    color: #FFF;
    text-align: left;
    font-size: 1.2rem;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}


.bmi-calculator{
    width: 55%;
}
.bmi-calc-title{
    font-size: 1.8rem;
    color: #FFF;
    font-weight: 700;
    padding-bottom: 15px;

}
.bmi-calc-description{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    padding-bottom: 15px;
    line-height: 25px;
}

.bmi-calc-form form{
    width: 100%;
    /* display: grid; */
    /* grid-template-columns: repeat(2,270px); */
    /* border: 1px solid yellow; */

}
input,select{
    padding: 12px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #313030;
    border: none;
    border-radius: 5px;
    width: 48%;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    


}
#activity{
    width: 98%;
    display: block;
    color: rgba(255, 255, 255, 0.275);
}


input[type="text"] {
    font-size: 1.1rem;
}
input[type="number"] {
    font-size: 1.1rem;
}
select, value{
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.275);
}

#bmi-btn{
    width: 240px;
    font-size: 1.2rem;
    font-weight: 500;
    /* padding: 12px 30px; */
    border-radius: 30px;
    color: #fff;
    background-color: #E6533C;
    border: none;
    cursor: pointer;
}
/* BMI section styles ends here */


/* Our Team section styles starts here */
.our-team{
    padding: 100px 0;
}
.team-content{
    width: 550px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
}
.team-title{
    font-size: 3rem;
    color: #FFF;
    padding-bottom: 15px;

}
.team-description{
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
}

.team-member{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 20px;
    background-color: rgba(34, 34, 34, 1);
    padding: 15px;
    border-radius: 10px;
}

.team-member-image{
    width: 100%;
    position: relative;
    filter: brightness(.8);
}
.team-member-image img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.team-member-title{
    color: #ffffff;
    font-size: 1.9rem;
    font-weight: 600;
    position: absolute;
    top: 74%;
    left: 5%;
}

.team-member-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    font-weight: 400;
    position: absolute;
    top: 86%;
    left: 5%;
}



/* Footer Section styles starts here */
footer{
    
    background-color: rgba(34, 34, 34, 1);

}
.footer-content{
    padding: 50px 0;
    display: flex;
}
.footer-column-1{
    width: 50%;
    padding-right: 100px;

}
.get-started{
    width: 50%;
    display: flex;
}
.footer-column-2{
    width: 50%;

}
.footer-column-3{
    width: 50%;

}
.footer-column-1-title{
    color: #E6533C;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 15px;
}
.footer-column-2-title, .footer-column-3-title{
    color: #FFF;
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 15px;
}
.footer-column-1-description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.5);
}
.get-started-item{
    color: rgba(255, 255, 255, 0.5);;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 35px;
    list-style: none;
}

.copyright{
    width: 85%;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid rgba(255, 255, 255, 0.275);
}




/* Join Now section styles ends here */


/* Responsive styles starts here */

/* Mobile Device Responsive Styles */
@media screen and (max-width:576px) {
    body{
        max-width: 576px;
        /* padding: 20px; */
        margin: 0 auto;
    }
    header,
    .habit,
    .join-now,
    .bmi,
    .our-team,
    .exercise{
        padding: 0 30px;
    }
    
    .bmi-info-parent, footer{
        max-width: 576px;
        background-color: rgba(34, 34, 34, 1);
    }
    
    .nav-menu{
        display: none;
    }
    .mobile-menu{
        font-size: 1.8rem;
        font-weight: 900;
        color: #FFF;
        /* text-align: right; */
    }

    .banner{
        padding-top: 30px;
        flex-direction: column;
    }
    .banner-content{
        width: 90%;
        padding-top: 0;
    }
    .banner-title{
        font-size: 2.5rem;
        line-height: 50px;
    }
    #shape{
    font-size: 5rem;
    font-weight: 100;
    }
    
    .banner-description{
        font-size: 1.3rem;
        line-height: 30px;
    }
    
    .banner-btn-1-desktop{
        display: none;
    }
    .banner-btn-1-mobile {
        display: inline-block;
        font-weight: 500;    
        border-radius: 25px;
        color: #fff;
        background-color: #E6533C;
        border: none;  
        cursor: pointer;
        width: 48%;
        font-size: 1rem;
        padding: 15px 0;
        margin-right: 5px;
    }

    .banner-btn-2{
        width: 48%;
        font-size: 1rem;
        padding: 13px 0;
    }

    .banner-image{
        width: 100%;
    }

    
    .workout, .tutorial{
        width: 150px;
        padding: 10px 0;
    }
    .workout h2, .tutorial h2{
        color: #fff;
        font-size: 1.5rem;
        padding-bottom: 5px;
        
    }
    .workout p, .tutorial p{
        font-size: .7rem;
    }
    
    .workout{
        top: 10%;
        left: 55%;
    }
    .tutorial{
        gap: 10px;
        bottom: 40%;
        left: 5%;
    }
    .circle-icon{
        display: none;
    }
    .tutorial-icon{
        position: relative;
    }
    .play-icon{
        color: #FFF;
        position: absolute;
        top: 30%;
        left: 40%;
        
    }
    
    /* Habit Section responsive styles */
    .habit{
        padding: 40px 0;
    }
    .habit-content{
        width: 100%;
    }
    .habit-cards{
        flex-direction: column;
    }
    .habit-title{
        font-size: 2rem;
    }

    .habit-description{
        font-size: 1rem;
        padding: 0 40px;
    }

    .card-image{
        padding-bottom: 10px;
    }
    .card-description{
        padding: 0 100px;
    }

    /* Join Now Section responsive styles */
    .join-now{
        flex-direction: column;
        padding: 30px;
        width: 90%;
    }
    .join-now-content{
        width: 100%;
        padding: 0;
    }
    .join-now-title{
        width: 75%;
        font-size: 2rem;
        line-height: 35px;
        font-weight: 700;
    }
    .join-now-description{
        font-size: 1rem;
    }
    .join-now-btn{
        width: 100%;
        font-size: 1.2rem;
        padding: 15px;
        margin: 0 auto;
    }

    .join-now-desktop-image{
        display: none;
    }
    
    .join-now-mobile-image {
        width: 100%;
        margin-top: 30px;
        /* height: 225px; */
        /* background-image: url(./images/run.jpg); */
        /* background-size: cover; */
        
    }
    .join-now-mobile-image img{
        width: 100%;
        display: block;
        border-radius: 15px;
    }


    /* Exercise section responsive styles */
    .exercise-content{
        width: 100%;
    }
    .exercise-items{
        grid-template-columns: repeat(1, 1fr);
    }
    .exercise-title{
        font-size: 2rem;
    }
    .exercise-description{
        font-size: 1rem;
        
    }


    /* BMI section */
    .bmi{
        width: 100%;
    }
    .bmi-content{
        width: 100%;
        /* margin:0 auto; */
        padding:30px 0;
    }
    .bmi-title{
        font-size: 2.5rem;
        font-weight: 700;
        color: #FFF;
    }
    .bmi-description{
        font-size: 1rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        line-height: 25px;
    }
    .bmi-info{
    width: 100%;
    background-color: rgba(34, 34, 34, 1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    }
    .bmi-chart{
        width: 100%;
    }
    .bmi-caption{
        font-size: 1.8rem;
        color: #FFF;
        font-weight: 700;
        padding-bottom: 30px;
    }
    .bmi-table{
        color: #fff;
        text-align-last: left;
        width: 100%;
        /* border: 1px solid rgba(255, 255, 255, 0.1); */
        padding: 5px;
    }
    tr{
        padding: 10px;
        border: 1px solid red;
    }
    
    .bmi-chart th{
        font-size: 1rem;
        font-weight: 500;
        
    }
    .bmi-chart td{
        font-size: .8rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
    }
    
    .bmi-calculator{
        width: 100%;
        /* padding: 30px; */
    }
    .bmi-calc-title{
        font-size: 1.8rem;
        color: #FFF;
        font-weight: 700;
        padding-top: 30px;
        padding-bottom: 15px;
    
    }
    .bmi-calc-description{
        font-size: .8rem;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 400;
        padding-bottom: 15px;
    }
    
    
    .bmi-calc-form form{
        width: 100%;
        /* display: grid; */
        /* grid-template-columns: repeat(2,270px); */
        /* border: 1px solid yellow; */
    
    }
    input,select{
        padding: 12px;
        color: rgba(255, 255, 255, 0.5);
        background-color: #313030;
        border: none;
        border-radius: 5px;
        width: 48%;
        display: inline-block;
        margin-right: 1%;
        margin-bottom: 10px;
        
    
    
    }
    #activity{
        width: 98%;
        display: block;
        color: rgba(255, 255, 255, 0.275);
    }
    
    
    input[type="text"] {
        font-size: 1.1rem;
    }
    input[type="number"] {
        font-size: 1.1rem;
    }
    select, value{
        font-size: 1.1rem;
        color: rgba(255, 255, 255, 0.275);
    }
    #bmi-btn{
        width: 200px;
        font-size: 1.2rem;
        border-radius: 30px;
        padding: 15px 20px;
    }
    
    .our-team{
        padding: 60px 0;
    }
    .team-content{
        width: 100%;

    }
    .team-title{
        font-size: 2rem;
        padding: 20px 0;
    }
    .team-description{
        font-size: 1rem;
        padding: 0 20px;
    }
    .team-member{
        grid-template-columns: repeat(1, 1fr);
        padding: 30px;
        width: 90%;
        margin: 0 auto;
    }
    .team-member-title{
        font-size: 1.5rem;
    }
    .team-member-description{
        font-size: 1rem;
    }

    .footer-content{
        flex-direction: column;
        /* padding: 35px 0; */
    }
    .footer-column-1-title{
        font-size: 3rem;
    }
    .footer-column-1, .footer-column-2, .footer-column-3{
        width: 100%;
        padding: 30px;
    }
    .get-started{
        flex-direction: column;
        width: 100%;
    }
    .copyright{
        padding: 30px 0;
        font-size: 1rem;
        width: 85%;
        margin: 0 auto;
        border-top: 1px solid rgba(255, 255, 255, 0.275);
    }
}
